@import "./abstracts/mixins";

$backGroundColor: #121116;
$generatorBgColor: #24232B;
$fontColor: #DDDCE2;
$backGroundColorDarker: #18171F;
$green: #A5FFAF;
body {
  h1 {
    font-size: 1rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $backGroundColor;
    font-family: Roboto;

    .passwordGenerator {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $fontColor;
      height: 95%;
      width: 70%;
      @include respond(tab-port) {
        font-size: 17px;
        width: 50%;
      }
      @include respond(tab-land) {
        font-size: 17px;
        width: 30%;
        height: 80%;

      }

      &__box {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $generatorBgColor;
        @include respond(tab-port) {
          background-color: black;
        }

        &--header { ///do poprawy
          height: 10%;
          flex-direction: row;


        }

        &--content {
          justify-content: space-between;
          padding: 20px;
          flex-grow: 1
        }
      }

    }
  }

}


.form-group-element {
  display: flex;

  &--show-password {
    width: 100%;

    input[type=string] {
      background-color: #24232B;
      color: white;
    }
  }

  &--checkbox {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    accent-color: $green;

  }

  &--pass-length {
    flex-direction: column-reverse;

    .form-input {
      //-webkit-appearance: none;
      accent-color: $green;
      //height: 6px;
      //background-color: black;
      //border-radius: 5px;
    }

    //.form-input::-moz-range-progress {
    //  background: $green
    //}

  }
}


.form-input {
  width: 100%
}

.pass-strength {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__boxes {
    display: flex;

    &__box {
      height: 30px;
      width: 10px;
      background-color: gray; ///do porawy

    }
  }

}

.pass-strength__boxes--weak {
  &:nth-last-child(1n+4) {
    background: red;
  }
}

.pass-strength__boxes--medium {
  &:nth-last-child(1n+3) {
    background: red;
  }
}

.pass-strength__boxes--strength {
  .pass-strength__boxes__box {
    background: red;
  }

}

//
@media only screen and (min-width: 768px) {
  .container {
    background: white;
  }
  .passwordGenerator {
    font-size: 12px;
  }
}

//
//
//
